<div class="container">
  <slot />
</div>

<style is:global lang="scss">
  @use '../scss/mixins' as *;

  .container {
    margin: 0 auto;
    max-width: calc(100% - 2rem);
    width: 100%;
  }

  @include above('laptop') {
    .container {
      max-width: 800px;
    }
  }
</style>