---
import Container from './Container.astro';
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header class="site-header">
  <Container>
    <a href="/">
      <img src="/assets/logo.svg" alt="CedSharp's logo">
      <h1>CedSharp's Blog</h1>
    </a>
    <ul>
      <li><ThemeSwitcher extraClasses="link" /></li>
      <li>
        <button class="link">
          <li class="icon">share</li>
        </button>
      </li>
    </ul>
  </Container>
</header>

<style is:global>
  .site-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--separator);
    display: flex;
    height: 64px;
    place-items: center;
    position: sticky;
    top: 0;
  }

  .site-header::before {
    background-color: var(--frost)cc;
    -webkit-backdrop-filter: var(--frost-blur);
    backdrop-filter: var(--frost-blur);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .site-header .container > a {
    display: flex;
    height: 24px;
    place-items: center;
  }

  .site-header h1 {
    font-size: var(--typo-body-2-size);
    font-weight: 800;
    margin-left: 1rem;
  }

  .site-header .container {
    display: flex;
    justify-content: flex-start;
    place-items: center;
    position: relative;
  }

  .site-header .container ul {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    place-items: center;
  }
</style>