---
export interface Props {
  extraClasses?: string;
}

const { extraClasses } = Astro.props;
const buttonClasses = 'theme-switcher' + (extraClasses ? ` ${extraClasses}` : '')
---

<button class={buttonClasses}>
  <i class="icon">light_mode</i>
</button>

<script>
  const getInitialTheme = (): 'light'|'dark' => {
    const savedTheme = localStorage.getItem('theme') as 'light'|'dark'|null;
    const systemTheme = matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
    return savedTheme || systemTheme;
  }

  let theme = getInitialTheme();
  const btns = document.querySelectorAll<HTMLButtonElement>('.theme-switcher');
  const btnLabels = document.querySelectorAll<HTMLElement>('.theme-switcher i');

  const setTheme = (newTheme: 'light'|'dark') => {
    document.body.classList.remove(theme);

    theme = newTheme;
    localStorage.setItem('theme', newTheme);
    document.body.classList.add(theme);

    for (const label of btnLabels) {
      label.innerText = `${theme === 'dark' ? 'light' : 'dark'}_mode`;
    }
  }

  const toggleTheme = () => {
    setTheme(theme === 'dark' ? 'light' : 'dark');
  }

  for (const btn of btns) {
    btn.addEventListener('click', toggleTheme);
  }

  setTheme(theme);
</script>