@use 'sass:map';
@use './vars';

@mixin generate-tokens($tokens) {
  @each $token, $value in $tokens {
    --#{$token}: #{$value};
  }
}

@mixin above($breakpoint) {
  @if not map.has-key(vars.$breakpoints, $breakpoint) {
    @error "Invalid breakpoint '#{$breakpoint}'.";
  }

  @media (min-width: map.get(vars.$breakpoints, $breakpoint)) {
    @content;
  }
}
