$gray-1: #ada29d;
$gray-2: #69655f;
$gray-3: #d0bfbf;
$black-1: #222528;
$black-2: #282b2e;
$purple-1: #323159;
$purple-2: #4a4d6e;
$green-1: #649f83;
$green-2: #719c88;
$almost-white: #e4e4e4;
$pure-white: #ffffff;
$pure-black: #000000;

$light: (
  'ground': $almost-white,
  'on-ground': $black-2,
  'link': $purple-1,
  'link-hover': $green-1,
  'separator': rgba($black-2, 0.15),
  'frost': rgba($almost-white, 0.8),
  'frost-blur': blur(8px),
);

$dark: (
  'ground': $black-1,
  'on-ground': $almost-white,
  'link': $pure-white,
  'link-hover': $green-1,
  'separator': rgba($almost-white, 0.15),
  'frost': rgba($black-2, 0.8),
  'frost-blur': blur(8px),
);

$breakpoints: (
  'laptop': 832px,
);
