---
import 'the-new-css-reset/css/reset.css';
import Header from '../components/Header.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@300" rel="stylesheet" />
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>

<style is:global lang="scss">
	@use '../scss/vars' as *;
	@use '../scss/mixins' as *;

	*, *::before, *::after {
		transition: background-color 300ms ease-out, color 300ms ease-out;
	}

	:root {
		/* Palette */
		--c-gray-1: #ada29d;
		--c-gray-2: #69655f;
		--c-gray-3: #d0bfbf;
		--c-black-1: #222528;
		--c-black-2: #282b2e;
		--c-purple-1: #323159;
		--c-purple-2: #4a4d6e;
		--c-green-1: #649f83;
		--c-green-2: #719c88;
		--c-almost-white: #e4e4e4;
		--c-pure-white: #ffffff;
		--c-pure-black: #000000;

		/* Typography */
		--typo-body-family: 'Segoe UI', system-ui, sans-serif;
		--typo-body-size: 1rem;
		--typo-body-2-size: 1.125rem;

		/* Breakpoints */
		--b-laptop: (min-width: 832px);

		/* Tokens */
		@include generate-tokens($light);
	}

	body.dark {
		@include generate-tokens($dark);
	}

	@media (prefers-color-scheme: dark) {
		body:not(.light) {
			@include generate-tokens($dark);
		}
	}

	body {
		font-family: var(--typo-body-family);
		font-size: var(--typo-body-2-size);
		background-color: var(--ground);
		color: var(--on-ground);
	}

	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	a, button.link {
		color: var(--link);
		cursor: pointer;
		transition: color 150ms ease-out;
	}

	a:hover, button.link:hover {
		color: var(--link-hover);
	}

	.icon {
		font-family: 'Material Symbols Outlined';
		font-weight: 300;
		font-size: 1.5em;
	}

	main {
		margin: 4rem 0;
	}

	main h2 {
		color: var(--link);
		font-size: 2.4rem;
		font-weight: 300;
	}

	main p {
		margin-top: 1rem;
	}
</style>
