---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Home | CedSharp's Blog">
	<main style="min-height: 125vh">
		<Container>
			<h2>Welcome to you who has reached my domain.</h2>
			<p>
				You have successfully found about my in-construction blog.
				Unfortunately, just as mentioned this blog is still undergoing
				development. Please visit again one of these days.
			</p>
		</Container>
	</main>
</Layout>